.page{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    justify-content: center;
}
img{
    width: fit-content;
}
.elementsImage{

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.elements{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    flex-direction: row;
    color: black;
    font-family: "Red Hat Display";
    font-weight: 900;
}

p{
    color: darkgray;
    font-family: "Red Hat Display";
}

.wrapper{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
}

.change{
    align-self: center;
    text-decoration: none ;
    font-weight: 800;
    color: blueviolet;
    font-family: "Red Hat Display";
}
.wrapp{
    display: grid;
    justify-content: space-around;
    align-items: center;
}
.pay {
    display: grid;
}
.canc{
    display:grid;
}